
nav{
    display: flex; /*Llama la propiedad flexbox para manipular los elementos*/
    align-items: flex-end; /*Alinia los items al extremo de la derecha de la pagina*/
    justify-content: space-between; /*Ajusta un espacio entre la imagen y los links*/
}

nav li {
    list-style: none; /*Quita los puntos de la lista solo de la barra de navegacion*/
}

h1{
    text-align: center; /*Alinia el titulo principal al centro*/
}

/*Alinia las imagenes del contenido de la pagina al centro*/
main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}